:root {
    --accent-color: #2196F3;
    --main-color: #212121;
    --add-color: #757575;
    --add-white: #FFFFFF;
    --main-bg-color: #2F303A;
}
/*
.webstudio {
    color: var(--accent-color);
}
.studio {
    color: var(--accent-color);
}
.address {
    color: var(--accent-color)
}
.tel {
    color: var(--add-color);
}
.list {
    color: var(--main-color);
}
.p {
    color: var(--add-color);
}
