:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --add-color: #757575;
  --add-white: #ffffff;
  --main-bg-color: #2f303a;
}
body {
  font-family: Roboto;
  letter-spacing: 0.42px;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* header */
.header {
  padding-top: 24px;
}
.header::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ececec;
  bottom: 0;
}
.header > .container {
  display: flex;
  align-items: center;
}
.logo-link {
  color: #000000;
  margin-right: 93px;
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
}
.accent {
  color: var(--accent-color);
}
.nav-list {
  display: flex;
  gap: 50px;
}
.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
  border-radius: 2px;
}
.nav-link {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  display: block;
  padding: 20px 0;
  position: relative;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.header-list {
  display: flex;
  gap: 30px;
  margin-left: auto;
}
.header-address-link {
  display: flex;
  align-items: center;
  color: var(--add-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  font-style: normal;
}
.header-address-link:hover,
.header-address-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.address-icon {
  margin-right: 10px;
  fill: var(--add-color);
}
.header-address-link:hover .address-icon,
.header-address-link:focus .address-icon {
  fill: var(--accent-color);
}
/* footer */
.footer > .container {
  display: flex;
  justify-content: space-between;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-bg-color);
}
.footer-logo-link {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
}
.footer-address {
  gap: 9px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.footer-address-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
}
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.footer-address .footer-address-link:first-child {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}
.footer-address .footer-address-link:first-child:hover {
  color: var(--accent-color);
  cursor: pointer;
}
.soc-footer-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.soc-footer-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.soc-footer-icon {
  fill: var(--add-white);
}
.soc-footer-link:hover,
.soc-footer-link:focus {
  background-color: var(--accent-color);
  transition: 0.3s;
}
.subscribe {
  padding-top: 12px;
}
.subscribe-title {
  color: var(--add-white);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subscribe-form {
  display: flex;
}
.subscribe-input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
  padding: 15px 16px;
  width: 358px;
  margin-right: 12px;
  outline: none;
}
.subscribe-input:focus,
.subscribe-input:hover {
  border-color: var(--accent-color);
  cursor: pointer;
}
.subscribe-btn {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  color: var(--add-white);
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  padding: 10px 28px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.subscribe-btn:focus,
.subscribe-btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.icon-telegram {
  fill: var(--add-white);
}
/* index-main */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background_img.jpg);
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.team-title,
.work-title,
.gallery-subtitle,
.advantages-item-title {
  color: var(--main-color);
}
.hero-btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.96px;
  background: var(--accent-color);
  width: 216px;
  height: 50px;
  border: none;
  border-color: var(--accent-color);
  border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  opacity: 0.9;
}
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-list {
  display: flex;
  gap: 30px;
}
.advantages-item {
  flex-basis: calc((100% - 90px) / 4);
}
.advantages-item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4%;
  margin-bottom: 30px;
  background-image: url("../images/advent_img1.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.advantages-item:nth-child(2):before {
  background-image: url("../images/advent_img2.svg");
}
.advantages-item:nth-child(3):before {
  background-image: url("../images/advent_img3.svg");
}
.advantages-item:nth-child(4):before {
  background-image: url("../images/advent_img4.svg");
}
.advantages-item-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.advantages-item-text {
  margin-bottom: 30px;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}
.work {
  padding-bottom: 94px;
}
.work-list {
  display: flex;
  gap: 30px;
}
.work-list-item {
  position: relative;
}
.work-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
}
.work-list-item > .work-list-item-title {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--add-white);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}
.team {
  padding-top: 94px;
  background-color: #f5f4fa;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-item {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--add-white);
}
.team-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
}
.team-wrapper-info {
  padding: 30px 32px;
}
.team-subtitle {
  color: var(--main-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.team-text {
  margin-top: 10px;
  color: var(--add-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}
.soc-list {
  margin-top: 16px;
  display: flex;
  justify-content: space-around;
}
.soc-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.soc-link:hover,
.soc-icon:focus {
  background-color: var(--accent-color);
  transition: 0.3s;
}
.soc-link:hover .soc-icon,
.soc-link:focus .soc-icon {
  fill: var(--add-white);
}
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.customers-link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
}
.customers-icon {
  fill: #afb1b8;
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--accent-color);
  transition: 0.3s;
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--accent-color);
  transition: 0.3s;
}
.soc-title {
  padding-top: 12px;
  color: var(--add-white);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
}
.soc-icon {
  fill: var(--add-color);
}
.customers-title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.logo-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
/* portfolio-main */
.main-box {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter-btn-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.filter-btn {
  min-width: 73px;
  padding: 6px 22px;
  border: none;
  font-weight: 500;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.62;
  color: var(--main-color);
}
.filter-btn:hover,
.filter-btn:focus {
  background: var(--accent-color);
  color: var(--add-white);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.gallery-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 34px;
}
.gallery-item {
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #eee;
}
.gallery-link {
  display: block;
  text-decoration: none;
}
.overlay-image {
  position: relative;
  overflow: hidden;
}
.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.90);
  transform: translateY(100%);
  transition: transform 250ms ease;
}
.overlay-text {
  color: var(--add-white);
font-size: 18px;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
padding: 63px 24px;
}
.gallery-item:hover .project-overlay {
  transform: translateY(0);
}
.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.gallery-wrapper-info {
  padding: 20px 24px;
}
.gallery-subtitle {
  margin-bottom: 4px;
  color: var(--main-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
}
.gallery-text {
  color: var(--add-color);
  line-height: 1.87;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 528px;
  max-height: 581px;
  padding: 40px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.btn-close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
}
.btn-close:hover .icon-cross-svg,
.btn-close:focus .icon-cross-svg {
  fill: var(--accent-color);
  cursor: pointer;
}
.icon-cross-svg:hover,
.icon-cross-svg:focus {
  fill: var(--accent-color);
}
.modal-title {
  color: var(--main-color);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal-label:first-child {
  margin-top: 0;
}
.modal-label {
  color: var(--add-color);
  font-size: 12px;
  letter-spacing: 0.12px;
  display: block;
  position: relative;
  margin-top: 10px;
}
.icon-modal {
  fill: var(--main-color);
}
.modal-input {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 42px;
  width: 100%;
  margin-top: 4px;
  outline: none;
}
.modal-input:focus,
.modal-input:hover {
  border-color: var(--accent-color);
  cursor: pointer;
}
.modal-input:hover .icon-modal,
.modal-input:focus .icon-modal {
  fill: var(--accent-color);
}
.icon-modal-svg {
  position: absolute;
  bottom: 11px;
  left: 12px;
}
.comment-text {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  width: 100%;
  resize: none;
  outline: none;
  height: 120px;
  margin-top: 4px;
}
.comment-text:hover,
.comment-text:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}
.checkbox-text {
  color: var(--add-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  margin-top: 20px;
  display: flex;
  gap: 7px;
  align-items: center;
}
.checkbox-rules {
  color: var(--accent-color);
}
.modal-btn {
  color: var(--add-white);
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 10px 52px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.modal-btn:hover,
.modal-btn:focus {
  cursor: pointer;
}
.checkbox-input {
  color: var(--main-color);
  width: 15px;
  height: 16px;
}