:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --add-color: #757575;
  --add-white: #ffffff;
  --main-bg-color: #2f303a;
}
body {
  font-family: Roboto;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* header */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo {
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
}
.accent {
  color: var(--accent-color);
}
.nav-link {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.header-address-link {
  color: var(--add-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
  font-style: normal;
}
.header-address-link:hover,
.header-address-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}
/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-bg-color);
}
.footer-logo {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
}
.footer-address {
  margin-top: 20px;
}
.footer-address-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration: none;
  font-style: normal;
}
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.footer-address .footer-address-link:first-child {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer-address .footer-address-link:first-child:hover {
  color: var(--accent-color);
  cursor: pointer;
}
/* index-main */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--main-bg-color);
}
.hero-title {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  background-color: var(--main-bg-color);
}
.team-title, .work-title, .gallery-subtitle,.advantages-item-title {
  color: var(--main-color);
}
.hero-btn {
  margin-top: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.96px;
  background: var(--accent-color);
  width: 216px;
  height: 50px;
}
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-item-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.advantages-item-text {
  margin-bottom: 30px;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.work {
  padding-bottom: 94px;
}
.work-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
}
.work-photo {
  margin-bottom: 30px;
}
.team {
  padding-top: 94px;
  background-color: #F5F4FA;
  padding-bottom: 94px;
}
.team-list {
  margin-bottom: 94px;
}
.team-item {
  background-color: var(--add-white);
  margin-bottom: 30px;
}
.team-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
}
.team-subtitle {
  padding-top: 30px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
}
.team-text {
  padding-top: 10px;
  padding-bottom: 30px;
  color: var(--add-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}
/* portfolio-main */
.main-box {
  padding-top: 94px;
  padding-bottom: 50px;
}
.filter-btn {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.62;
  color: var(--main-color);
}
.filter-btn:hover,
.filter-btn:focus {
  background: var(--accent-color);
  color: var(--add-white);
  cursor: pointer;
}
.gallery-list {
  margin-top: 34px;
  margin-bottom: 94px;
}
.gallery-item {
  padding-top: 30px;
}
.gallery-subtitle {
  margin-top: 20px;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2.00;
  letter-spacing: 1.08px;
}
.gallery-text {
  margin-bottom: 20px;
  color: var(--add-color);
  line-height: 1.87;
}

